.burger-parent {
  position: relative;
}

.burger {
  position: absolute;
  top: 0px;
  opacity: 0;
  transform: scale(0);
  right: 0px;
  z-index: 40;
  &.burger-down {
    animation: moveDown 0.5s cubic-bezier(0.19, 1.3, 0.76, 0.97) forwards;
    &.burger-up {
      animation: moveUp 0.5s cubic-bezier(0.3, 0.13, 1, 0.42) forwards;
    }
  }
}

@keyframes moveDown {
  0% {
    transform: scale(0) translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(36px);
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    transform: scale(1) translateY(36px);
    opacity: 1;
  }
  100% {
    transform: scale(0) translateY(-1000px);
    opacity: 0;
  }
}
